@page "/shop"
@using Microsoft.EntityFrameworkCore
@using ShoeInc.Data
@using ShoeInc.Data.DBContext
@using ShoeInc.Repositories.Products
@using Microsoft.AspNetCore.Http.Features
@using ShoeInc.Services.ProductService
@inject ShoeIncContext ContextFactory
@inject ProductService ProductService
@inject Services.ShoppingCartService _shoppingCartService

<!-- Author: Florin Bordei --> 
<h3>Shop</h3>

<ul class="list-unstyled">
    @foreach (var item in Products)
    { 
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="@item.ModelCode">
                    <img class="media-img" src="@item.ImageUrl" alt="@item.Model"/>
                </a>
            </div>
            <div class="media-body">
                <a href="@item.ModelCode">
                    <h4 class="mb-0">@item.Brand - @item.Model</h4>
                </a>
                <p>Product description: @item.Description</p>


                @if (item.Discount ==0 )
                {
                    <h5 class="price"> Price: 
                        @item.Price
                    </h5>
                }
                
              @if (item.Discount !=0)
              {
                  <h5 class="price_discounted"> Price Discounted: 
                      @item.Price
                      </h5>
              }
                <div>
                   <button class="btn btn-primary" id="button" @onclick="(()=> addToCart(item.Id))">Add to cart</button>
                </div>
            </div>
        </li>
    }
</ul>

@code {

    private IList<Product> Products;
    private ProductRepository ProductRepository;
    private string modelcode; 


    protected override async Task OnInitializedAsync()
    {
        Products = new List<Product>();
        ProductRepository = new ProductRepository(ContextFactory);
        ProductService = new ProductService(ProductRepository);
        Products =  (IList<Product>) await ProductRepository.GetAllProductsAsync();
        
        
        
        
    }

    // Author: Jaume Lopez 
    private void addToCart(int item)
    {
        _shoppingCartService.AddToCart(item);
    }

}